body{
  background-color:black;
  color:white;
  font-family:sans-serif;
}

#center-container{
  margin-top:10%;
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
}
  #center-container p{
    color:white;
    text-align:center;
    font-size:25px;
  }
  #center-container a{
    color:#f3bdf9;
  }
  #center-container a:visited{
    color:#f3bdf9;
  }

  #center-image{
    display:block;
    margin:auto;
    cursor:pointer;
      filter: drop-shadow(1px 1px 1px #137728)
              drop-shadow(-1px -1px 10px #137728);
    transition-property:filter:drop-shadow;
      -webkit-transition-property:filter:;
      -moz-transition-property:filter;
      -o-transition-property:filter;
    transition-duration:.5s;
      -webkit-transition-duration:.5s;
      -moz-transition-duration:.5s;
      -o-transition-duration:.5s;
  }

    #center-image:hover{
      filter: drop-shadow(2px 2px 10px #137728)
              drop-shadow(-2px -2px 10px #137728);
      transition-property:filter;
        -webkit-transition-property:filter;
        -moz-transition-property:filter;
        -o-transition-property:filter;
      transition-duration:.5s;
        -webkit-transition-duration:.5s;
        -moz-transition-duration:.5s;
        -o-transition-duration:.5s;
    }
    #center-image:active{
      transition-property:filter;
        -webkit-transition-property:filter;
        -moz-transition-property:filter;
        -o-transition-property:filter;
      transition-duration:.2s;
        -webkit-transition-duration:.2s;
        -moz-transition-duration:.2s;
        -o-transition-duration:.2s;
      filter: drop-shadow(1px 1px 10px red)
              drop-shadow(-1px -1px 10px red);
    }
